.bg-hero-image {
    background-color: rgba(167, 0, 0, 0.2);
    background-position: center center;
}

body {
    background-image: url("imgs/background.webp");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

a.dropdown-item {
    color: pink;
    font-family: 'Playfair Display', serif;
}

hr.dropdown-divider {
    background-color: lightblue;
}
a.dropdown-item:hover {
   background-color: #8064A2;
   color: white;
}

a.navbar-brand {
    font-family: 'Playfair Display', sans-serif;
}

li.nav-item dropdown {
    font-family: 'Josefin Sans', sans-serif;
}

a.nav-link active {
    font-family: 'Heebo', sans-serif;
}

li.nav-item {
    font-family: 'Playfair Display', sans-serif;
    color: black;
}

h5.card-title {
    font-family: 'Josefin Sans', sans-serif;
}

p.font {
    font-family: 'Playfair Display', sans-serif;
}

.btn-primary {
    background-color: #8064A2;
    border: none;
}

.btn-primary:hover {
    background-color: lightblue;
}

p.card-text {
    font-family: 'Josefin Sans', sans-serif;
}

.card {
    height: 100%;
}
img.card-img-top {
    width: auto;
    height: 150px;
}