.bg-hero-image {
    background-color: rgba(190, 190, 190, 0.993);
    background-position: center center;
}

body {
    background-image: url("imgs/background.webp");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

